<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frank</title>
    <link rel='stylesheet' href="static/css/sytles.css">
</head>
<body>
    <p1>Hello, World!</p1>
</body>
</html>



<!--
To automatically generate an HTML structure (snippet) when creating a new HTML file in VS Code, use the Emmet abbreviation. 

Open a new file and ensure the language mode is set to HTML. 
Type ! (or html:5) and press Enter or Tab. 
This instantly inserts the standard HTML5 boilerplate:

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>
-->